<a href="https://colab.research.google.com/github/skybluesharkk/colab_ml/blob/main/%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
titanic = pd.read_csv('train.csv')

In [12]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
titanic = titanic.drop(['Name','PassengerId','SibSp','Cabin','Ticket','Embarked'],axis=1)

In [8]:
titanic.head()

   Survived  Pclass     Sex   Age  Parch            Ticket     Fare
0         0       3    male  22.0      0         A/5 21171   7.2500
1         1       1  female  38.0      0          PC 17599  71.2833
2         1       3  female  26.0      0  STON/O2. 3101282   7.9250
3         1       1  female  35.0      0            113803  53.1000
4         0       3    male  35.0      0            373450   8.0500

In [27]:
titanic_target = titanic['Survived'].to_numpy()
titanic_input = titanic[['Pclass']].to_numpy()

In [28]:
from sklearn.model_selection import train_test_split
train_input,test_input,train_target,test_target = train_test_split(titanic_input,titanic_target,random_state=42)

In [29]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [30]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=3)
kn.fit(train_scaled,train_target)
print(kn.score(train_scaled,train_target))
print(kn.score(test_scaled,test_target))

0.6721556886227545
0.6995515695067265